.cricketPlayer{
    width: 250px;
}
.playersDiv{
    
    background-color: bisque;
    border: 10px dashed black;
}
#mainHeading{
    background-color: blueviolet;
    position: fixed;
    margin: 0px;
    padding: 20px;
    left: 0px;
    top: 0px;
    z-index: 20;
}
#loGo{
    width: 200px;
    position: fixed;
    right: 0px;

}

#virat{
    position: relative;
    left: 150px;
    z-index: 18;

}
#pandya{
    position: relative;
    width: 350px;
    z-index: 20;
}
#surya{
    position: relative;
    z-index: 19;
    right: 150px;
}
#jadeja{
    position:relative;
    left: 300px;
}
#rohit{
    position:relative;
    z-index: 18;
    right: 270px;
    box-shadow: 10px 10px 10px gray;


}
.team{
    background-color: brown;
    color: beige;
    position: sticky;
    top: 80px;
}


